app.py
cropping csv version.py
cropping db version.py
Monitor Reading.db
monitor_three.mp4
monitor_two.mp4
process_vid.py
slashedzero.traineddata
video_test.mp4
images/digital screen.jpg
images/image.png
images/processed screen.jpg
images/test_five.jpg
images/test_four.jpg
images/test_six.jpg
images/test_three.jpg
images/test_two.jpg
images/tester.png
screens/screen2.jpg
screens/screen3.jpg
monitor_one.mp4
XGA-2.jpg
XGA-1.5.jpg
HD-2.5.jpg
cropped.jpg
screens/img0.png
screens/img1.png
screens/img2.png
screens/img3.png
screens/img4.png
screens/img5.png
screens/img6.png
screens/img7.png
screens/img8.png
screens/img9.png
screens/img10.png
screens/img11.png
screens/img12.png
screens/img13.png
screens/img14.png
screens/img15.png
screens/img16.png
screens/img17.png
screens/img18.png
screens/img19.png
screens/img20.png
screens/img21.png
screens/img22.png
screens/img23.png
screens/img24.png
screens/img25.png
screens/img26.png
screens/img27.png
screens/img28.png
screens/img29.png
screens/img30.png
screens/img31.png
screens/img32.png
screens/img33.png
screens/img34.png
screens/img35.png
screens/img36.png
screens/img37.png
screens/img38.png
screens/img39.png
screens/img40.png
screens/img41.png
screens/img42.png
screens/img43.png
screens/img44.png
screens/img45.png
screens/img46.png
screens/img47.png
screens/img48.png
screens/img49.png
screens/img50.png
screens/img51.png
screens/img52.png
screens/img53.png
screens/img54.png
screens/img55.png
screens/img56.png
screens/img57.png
screens/img58.png
screens/img59.png
screens/img60.png
screens/img61.png
screens/img62.png
screens/img63.png
screens/img64.png
screens/img65.png
screens/img66.png
screens/img67.png
screens/img68.png
screens/img69.png
screens/img70.png
screens/img71.png
screens/img72.png
screens/img73.png
screens/img74.png
screens/img75.png
screens/img76.png
screens/img77.png
screens/img78.png
screens/img79.png
screens/img80.png
screens/img81.png
screens/img82.png
screens/img83.png
screens/img84.png
screens/img85.png
screens/img86.png
screens/img87.png
screens/img88.png
screens/img89.png
screens/img90.png
screens/img91.png
screens/img92.png
screens/img93.png
screens/img94.png
screens/img95.png
screens/img96.png
screens/img97.png
screens/img98.png
screens/img99.png
screens/img3.png
screens/img4.png
screens/img5.png
screens/img6.png
screens/img7.png
screens/img8.png
screens/img9.png
screens/img10.png
screens/img11.png
vid_monitor_ocr.py
images