app.py
cropping csv version.py
cropping db version.py
Monitor Reading.db
monitor_three.mp4
monitor_two.mp4
process_vid.py
slashedzero.traineddata
video_test.mp4
images/digital screen.jpg
images/image.png
images/processed screen.jpg
images/test_five.jpg
images/test_four.jpg
images/test_six.jpg
images/test_three.jpg
images/test_two.jpg
images/tester.png
screens/screen2.jpg
screens/screen3.jpg
